---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import VideoSection from '../components/VideoSection.astro';
import EventSuite from '../components/EventSuite.astro';
import OfferSection from '../components/OfferSection.astro';
import Benefits from '../components/Benefits.astro';
import Syllabus from '../components/Syllabus.astro';
import Authority from '../components/Authority.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import UrgencyCTA from '../components/UrgencyCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Clase Gratuita: Organización de Eventos & Wedding Planner | Instituto Osbord">
	<Header />
	<main>
		<Hero />
		<VideoSection />
		<EventSuite />
		<OfferSection />
		<Benefits />
		<Syllabus />
		<Authority />
		<Testimonials />
		<FAQ />
		<UrgencyCTA />
	</main>
	<Footer />
</Layout>
